
<% content_for :post_title, @post.title %>
<% content_for :post_url, post_url(@post) %>
<% content_for :post_facebook_share_url, polymorphic_url(@post.facebook_share) %>
<% content_for :post_twitter_share_url, polymorphic_url(@post.twitter_share) %>

<section class="jumbotron text-center">
  <div class="container">
    <p id="notice"><%= notice %></p>
    <div class="row" style="align-items: center;">
      <div class="col-sm-8">
        <%= image_tag(@post.image.variant(resize: "730x430"), style: "width: 100%; display: block;")%>
      </div>
      <div class="col-sm-4">
        <p class="lead">
          <%= @post.title %>
        </p>
        <p class="font-weight-light font-italic">
          <%= l(@post.created_at, format: :short) %>
        </p>

        <div class=social-share>
          <div class="twitter">
            <a href="http://twitter.com/share"
              class="twitter-share-button"
              data-url="<%= post_url(@post) %>"
              data-text="<%= @post.title %>"
              data-count="horizontal"
              data-via="instavac">Tweet
            </a>
            <script type="text/javascript" src="https://platform.twitter.com/widgets.js"></script>
          </div>

          <div class="fb-share-button" 
            data-href="<%= post_url(@post) %>" 
            data-layout="button_count">
          </div>
        </div>


        <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-primary btn-sm' %>
        <%= link_to 'Back', posts_path, class: 'btn btn-secondary btn-sm' %>
      </div>
    </div>

  </div>
</section>